/***************************************
***************   VARIABLES   ************
***************************************/
/***************************************
***************    MENU     ************
***************************************/
/* line 6, ../sass/_bwmenu.scss */
.bwmenu {
  position: fixed;
  background-color: #67545b;
  border-right: 1px solid #1a1a1a;
  top: 0;
  height: 100%;
  z-index: 99;
  overflow-y: auto;
  text-align: left;
  font-style: 18px; }
  /* line 21, ../sass/_bwmenu.scss */
  .bwmenu li, .bwmenu ul {
    list-style-type: none; }
  /* line 25, ../sass/_bwmenu.scss */
  .bwmenu li {
    padding: 20px 10px;
    border-bottom: 1px solid #483a40; }
  /* line 30, ../sass/_bwmenu.scss */
  .bwmenu a, .bwmenu a:hover, .bwmenu a:visited {
    color: #fff;
    text-decoration: none;
    vertical-align: baseline; }
  /* line 36, ../sass/_bwmenu.scss */
  .bwmenu img {
    display: block;
    margin: 32px auto 24px auto; }

/* line 43, ../sass/_bwmenu.scss */
.fa:before {
  color: #f2b462;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  margin-right: 0.4em;
  vertical-align: middle;
  font-size: 1.8em;
  -webkit-font-smoothing: antialiased; }

/* line 58, ../sass/_bwmenu.scss */
.bw-sousmenu {
  position: fixed;
  border-right: 1px solid #1a1a1a;
  background-color: #67545b;
  top: 0;
  height: 100%;
  z-index: 99;
  overflow-y: auto;
  text-align: left; }
  /* line 70, ../sass/_bwmenu.scss */
  .bw-sousmenu li, .bw-sousmenu ul {
    list-style-type: none; }

/* line 75, ../sass/_bwmenu.scss */
.bt-cache {
  display: none; }

/* line 79, ../sass/_bwmenu.scss */
.bt-montre {
  display: block; }

/* line 83, ../sass/_bwmenu.scss */
.bw-link {
  height: 0%;
  width: 0%;
  background-color: #000;
  position: absolute;
  top: 0px;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: hidden; }

/* line 95, ../sass/_bwmenu.scss */
.bw-link-max {
  min-height: 100%;
  min-width: 100%;
  opacity: 0.4;
  z-index: 999; }

/* line 102, ../sass/_bwmenu.scss */
.bw-topicon {
  position: absolute;
  top: 5px;
  right: 0px;
  font-size: 0.65em; }

/* line 109, ../sass/_bwmenu.scss */
.over-none {
  overflow-y: hidden; }

/* line 113, ../sass/_bwmenu.scss */
.over-auto {
  overflow-y: auto; }

/* line 117, ../sass/_bwmenu.scss */
.bw-back {
  padding: 10px 10px;
  color: #483a40;
  border-bottom: 1px solid #483a40;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  vertical-align: baseline; }
  /* line 126, ../sass/_bwmenu.scss */
  .bw-back .fa:before {
    color: #483a40; }

/* line 131, ../sass/_bwmenu.scss */
.bw-back:hover {
  cursor: pointer; }

/* line 136, ../sass/_bwmenu.scss */
.bwflechesousmenu {
  position: absolute;
  right: 0px; }

/* line 141, ../sass/_bwmenu.scss */
.bwflechesousmenu:before {
  color: #483a40; }

/* Bouton */
/* line 146, ../sass/_bwmenu.scss */
.bt-menu-trigger {
  position: absolute;
  top: 0px;
  left: 10px;
  display: block;
  width: 30px;
  height: 50px;
  cursor: pointer;
  z-index: 2; }

/* line 157, ../sass/_bwmenu.scss */
.bt-menu-trigger span {
  position: absolute;
  top: 50%;
  left: 1px;
  display: block;
  width: 90%;
  height: 4px;
  margin-top: -2px;
  background-color: #f1eabe;
  font-size: 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s; }

/* line 177, ../sass/_bwmenu.scss */
.bt-menu-open .bt-menu-trigger span {
  background-color: transparent; }

/* line 182, ../sass/_bwmenu.scss */
.bt-menu-trigger span:before,
.bt-menu-trigger span:after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f1eabe;
  content: '';
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; }

/* line 193, ../sass/_bwmenu.scss */
.bt-menu-trigger span:before {
  -webkit-transform: translateY(-250%);
  transform: translateY(-250%); }

/* line 198, ../sass/_bwmenu.scss */
.bt-menu-trigger span:after {
  -webkit-transform: translateY(250%);
  transform: translateY(250%); }

/* line 203, ../sass/_bwmenu.scss */
.bt-menu-open .bt-menu-trigger span:before {
  -webkit-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg); }

/* line 208, ../sass/_bwmenu.scss */
.bt-menu-open .bt-menu-trigger span:after {
  -webkit-transform: translateY(0) rotate(-45deg);
  transform: translateY(0) rotate(-45deg); }

/***************************************
***************   GLOBAL    ************
****************************************/
/* line 5, ../sass/_global.scss */
html, body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400; }

/* line 11, ../sass/_global.scss */
ul, li {
  padding: 0;
  margin: 0; }

/* line 16, ../sass/_global.scss */
body {
  text-align: center; }

/* line 20, ../sass/_global.scss */
.container-fluid {
  padding: 0;
  height: 100%; }

/* line 26, ../sass/_global.scss */
#bt-monmenu {
  position: relative;
  background-color: #67545b;
  height: 50px;
  width: 50px;
  cursor: pointer;
  z-index: 3;
  left: 10px;
  top: 10px; }
