/***************************************
***************   VARIABLES   ************
***************************************/

//Couleur
$rouge:#e76c67;
$mauve:#67545b;
$vert:#94cba7;
$jaune:#f2b462;
$creme:#f1eabe;
$mauvefonce:#483a40;	

//Police
$montserrat:'Montserrat', sans-serif;
$clicker: 'Clicker Script', cursive;
$arbutus:'Arbutus Slab', serif; 

